h1{
  font-size: 4em;
  line-height: 1em;
  padding: 1em;
}

.similar-movies{
  width: 100%;
}

.movie-detail-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

table, th, td {
  padding: 6px;
}
td:last-child{
  font-weight: lighter;
}

.title-and-image{
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.2em;
}

.title-and-image > *{
  padding-left: 1.5em;
  padding-right: 1.5em;
  max-width: 600px;
}

.title{
  max-width: 800px;
}

.title > *{
  padding: .5em;
}

@media screen and (max-width: 1000px){
  h1{
    padding: .5em;
  }
}

@media screen and (max-width: 500px){
  h1{
    padding: .1em;
  }
}
