<div class="container">
  <h1>About Movie-Finder</h1>
  <p>This site is a school project. It is an exercise for a developement style where usabillity is in main focus. I hope you enjoy the project. Maybe, I will keep working on it when I have time!</p>
  <h2>Credits and contact</h2>
  <p>Credits go to the TMDB Developement team! Their API is used here. For further informations, visit <a href="https://developers.themoviedb.org">https://developers.themoviedb.org</a></p>
<p>
  Written by <a href="mailto:nicolas.mueller2@gmail.com">Nicolas Müller</a>.<br>
  School: FFHS Schweiz<br>
  Date: 15.11.2020
</p>
</div>
