$bg: rgba(0, 0, 0, 0.3);

.bg,
.overlay {
  width: 200px;
  text-align: center;
  cursor: pointer;
  padding: .5em;
}

img,
.overlay {
  transition: .3s all;
  border-radius: 3px;
}

.bg {
  float: left;
  position: relative;
  margin: .5%;
  img {
    width: 100%;
    margin-bottom: -4px;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: $bg;
    color: #fff;
    opacity: 0;
    border-radius: 1em;
    overflow: hidden;
    h2 {
      padding-top: 20%;
      font-family: 'Droid Serif', serif;
    }
    p {
      font-family: 'Julius Sans One', sans-serif;
    }
  }
  &:hover {
    .overlay {
      opacity: 1;
    }
    img {
      -webkit-filter: blur(3px);
      filter: blur(3px);
    }
  }
}

@media only screen and (max-width: 1300px){
  .bg,
  .overlay {
    width: 150px;
    padding: .3em;
  }
}

@media only screen and (max-width: 700px){
  .bg,
  .overlay {
    width: 100px;
    border-radius: .8em;
    padding: .2em;
  }
}

@media only screen and (max-width: 500px){
  .bg,
  .overlay {
    width: 80px;
    border-radius: .3em;
    padding: .1em;
  }
}
